/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: white;
}
h1{
    color: white;
    margin: 40px;
    font-size: 30px;
    
}

/* Reference */
/* .container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
} */



/* Modified */
.container{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 20px;
}
/* Modified */




.text{
    width: 50%;
    height: 100%;
    
   
   

}
.image{
    width: 50%;
    height: 100%;
    /* background-color: blue; */

}

.btn{
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 3px;
    background-color: red;
    color: white;
}
.button{
    
    display: block;
    padding: 10px 30px;
    border-radius: 5px;
    background-color: white;
   
}
.info>.button,.info>h3{
    
    margin-top: 20px;

}
#blog{
    background-color: red;
}
#header{
    /* position: absolute;
    width: 1321px;
    height: 608px;
    left: 140px;
    top: 88px; */


    /* Modified */
    width: 80%;
    margin: 10% auto;
    padding: 5%;
    /* Modified */



    background-color: black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0 50px;
    
}

    
#main{
    display: flex;
    gap: 30px;
}
.sidebar{
   
    width: 252px;
    height: 252px;
    left: 170px;
    top: 856px;
     border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;


/* Modified */
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: darkgray;


}

/* Reference */
/* .rectangle{

    width: 312px;
    height: 312px;
    left: 140px;
    top: 826px;

    background: #161616;
    border-radius: 10px;
} */



/* Modified */
.rectangle{
    grid-column-start: 1;
    grid-column-end: 2;
}

/* Modified */




/* Reference */
/* .info{
    margin-top: 100px; 
} */

.players{
    height: 362px;
    width: 312px;
    left: 476px;
    top: 826px;
    border-radius: [object Object]px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

span{
    color: tomato;
}
p{
   
    margin: 20px 0;
 color: white;
    
}
.icon{
    color: black;
    display: flex;
    align-items: center;
}
p img{
   
    padding: 20px 10px;
    margin-left: 20px;
}

.image img{
    width: 100%;
}

.country{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border: 1px solid gray;
    border-radius: 5px;
}
.country>.img{
    transform: rotate(180deg);
}
.country>p{
    color:black
}
/* medium device */
@media  screen and (max-width : 576px){
    #header{
        width: 400px;
        display: grid;

        grid-template-columns: repeat(1,1fr);
       
    }
    #header>.text{
        width: 100%;
        
    }
    .container{
        width: 400px;
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(1,1fr);
       
    }
    .body{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (min-width:577px) and (max-width:992px){
    .container{
        grid-template-columns: repeat(2,1fr);
    }
    #header{
        width: 400px;
        display: grid;

        grid-template-columns: repeat(2,1fr);
       
    }
    #header>.text{
        width: 100%;
        
    }
    .container{
        width: 400px;
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(2,1fr);
       
    }
    .body{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}
